omixl.js
[{"id":"13afba7110bb09eb","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"6335826ce0dc893b","type":"mqtt in","z":"13afba7110bb09eb","name":"","topic":"/erym/omixl/hum","qos":"0","datatype":"auto-detect","broker":"5f41f46a48dddbcd","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":180,"wires":[["f80470c753722a3f"]]},{"id":"f80470c753722a3f","type":"ui_gauge","z":"13afba7110bb09eb","name":"","group":"a807e5041df5446d","order":0,"width":0,"height":0,"gtype":"gage","title":"???????","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":380,"y":180,"wires":[]},{"id":"468d00893cb1a791","type":"ui_gauge","z":"13afba7110bb09eb","name":"","group":"a807e5041df5446d","order":0,"width":0,"height":0,"gtype":"gage","title":"???????????","label":"oC","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":400,"y":280,"wires":[]},{"id":"048b877c717a4fd1","type":"mqtt in","z":"13afba7110bb09eb","name":"","topic":"/erym/omixl/temp","qos":"0","datatype":"auto-detect","broker":"5f41f46a48dddbcd","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":280,"wires":[["468d00893cb1a791"]]},{"id":"708858928e40abb9","type":"ui_button","z":"13afba7110bb09eb","name":"","group":"a807e5041df5446d","order":2,"width":0,"height":0,"passthru":false,"label":"???????","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"o","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":400,"wires":[["bb7fa29f35a48478","58127562226bf35c"]]},{"id":"bb7fa29f35a48478","type":"mqtt out","z":"13afba7110bb09eb","name":"???????","topic":"/erym/omixl/pot","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5f41f46a48dddbcd","x":380,"y":400,"wires":[]},{"id":"58127562226bf35c","type":"debug","z":"13afba7110bb09eb","name":"debug 3","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":410,"y":480,"wires":[]},{"id":"0de5191685ffea91","type":"ui_button","z":"13afba7110bb09eb","name":"","group":"a807e5041df5446d","order":2,"width":0,"height":0,"passthru":false,"label":"??????? ?????","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"f","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":480,"wires":[["bb7fa29f35a48478"]]},{"id":"5f41f46a48dddbcd","type":"mqtt-broker","name":"girok","broker":"girok.hopto.org","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"a807e5041df5446d","type":"ui_group","name":"??????????? ?????????","tab":"b53ea85f4852a6b4","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"b53ea85f4852a6b4","type":"ui_tab","name":"???????????","icon":"dashboard","disabled":false,"hidden":false},{"id":"85c41741d4f18c47","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]